<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Document</title>
  </head>
  <body>
    <div id="top">
      <h4>Eric Niemeyer | Python Exam</h4>
      <div id="toplower">
        <form action="/user_login">
          <input class="xbutton" type="submit" value="Users" />
        </form>
        <form action="/show_all">
          <input class="xbutton" type="submit" value="All Shows" />
        </form>
        <form action="/add_one">
          <input class="xbutton" type="submit" value="Add Show" />
        </form>

        <div id="rightacct">
          {% if session['first_name'] != "" %}
          <p>Hi {{session['first_name']}}!</p>
          <p>Acct # {{session['user_id']}}</p>
          {% endif %}
        </div>
        <form action="/log_out" method="POST">
          <input
            class="xbutton"
            type="submit"
            name="log_out"
            id="log_out"
            value="Log Out"
          />
        </form>
      </div>
    </div>
    <h1 class="a">New Show</h1>

    <form action="/fun_add_one" method="POST">
      <label for="title">Title</label>
      <input type="text" name="title" />
      <label for="network">Network</label>
      <input type="text" name="network" />
      <label for="release_date">Release Date</label>
      <input type="date" name="release_date" />
      <label for="description">Description</label>
      <input type="text" name="description" />

      {% with messages = get_flashed_messages("a") %} {% if messages %}
      <ul class="flashes">
        {% for message in messages %} {% if message[0] == "show" %}
        <li>{{ message[1] }}</li>
        {% endif %} {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <input class="a" type="submit" value="add" />
    </form>
  </body>
</html>
