<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
    rel="stylesheet"
    type="text/css"
    href="{{ url_for('static', filename='style.css') }}"
/>
    <title>Document</title>
</head>
<body>
    <div id="top">
        <div id="tl">
            <a href="/index">index</a>
            <a href="/user_login">user_login</a>
            <a href="/show_all">show_all</a>
            <a href="/add_one">add_one</a>
        </div>
        <div id="tr">
            <p>
                user name: {{session['first_name']}}
                {{session['last_name']}}
            </p>
            <p>user number: {{session['user_id']}}</p>
            <form action="/log_out" method="POST">
                <input
                    class="r"
                    type="submit"
                    name="log_out"
                    id="log_out"
                    value="log_out"
                />
            </form>
        </div>
    </div>
    <h1>edit_one</h1>
    
    <form action="/fun_edit_one/{{one_show.id}}" method="POST">
        <label for="title">title</label>
        <input type="text" name="title" value="{{one_show.title}}" />
        <label for="network">network</label>
        <input type="text" name="network" value="{{one_show.network}}"/>
        <label for="release_date">release_date</label>
        <input type="date" name="release_date" value="{{one_show.release_date}}" />
        <label for="description">description</label>
        <input type="text" name="description" value="{{one_show.description}}"/>


        {% with messages = get_flashed_messages("a") %} {% if
            messages %}
            <ul class="flashes">
                {% for message in messages %} {% if message[0] ==
                "show" %}
                <li>{{ message[1] }}</li>
                {% endif %} {% endfor %}
            </ul>
            {% endif %} {% endwith %}

        <input type="submit" value="update" />
    </form>

</body>
</html>