<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />

    <link
      id="icon"
      rel="shortcut icon"
      href="{{ url_for('static', filename='en.png') }}"
    />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style_projects.css') }}"
    />
    <title>Eric Niemeyer | Projects</title>
  </head>
  <body class="d-flex align-items-center justify-content-center flex-column">
    <div class="d-flex align-items-center justify-content-center flex-row">
      <div class="d-flex align-items-center flex-column py-0">
        <h1>Eric Niemeyer</h1>
        <p>Full-stack projects deployed on AWS</p>
      </div>
      <img
        id="qr"
        class="border border-dark rounded p-1 mx-3 bg-white shadow"
        src="../static/http___niembro64.com.png"
        alt="x"
        width="60"
        height="60"
      />
    </div>
    <div class="d-flex align-items-center justify-content-center flex-row pb-4">
      <a class="btn btn-light mx-1 shadow" href="../static/Engineering Resume of Eric Michael Niemeyer Rev 49.pdf" download>
        <img id="qr" src="../static/dl.png" alt="x" width="14" height="14" />

        <b>Resume</b></a
      >
      <a class="btn btn-light mx-1 shadow" href="https://github.com/niembro64"
        ><img src="../static/GitHub_Logo.png" height="20" alt=""
      /></a>
      <a
        class="btn btn-light mx-1 shadow"
        href="https://www.linkedin.com/in/eric-niemo/"
        ><img src="../static/Linkedin-logo-png.png" height="18" alt=""
      /></a>
    </div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="text-center">Project</th>
          <th id="goaway700" scope="col"></th>

          <th id="goaway300" scope="col"></th>
          <th scope="col" class="text-center">Stack</th>

          <th id="goaway500" scope="col" class="text-center">User Stories</th>
          <th id="goaway700" scope="col" class="text-center">Features</th>
        </tr>
      </thead>
      <tbody>
        <tr class="align-middle">
          <td>
            <a
              class="btn btn-primary d-grid d-flex align-items-center flex-column"
              href="http://design.niembro64.com/"
            >
              <span
                ><small><i>Desktop</i></small></span
              >
              <img
                id="icon"
                class="border border-dark rounded"
                src="../static/desktop_icon.png"
                alt="x"
                width="32"
                height="32"
              />
              <span>Design</span>
            </a>
          </td>
          <td id="goaway700">
            <img
              id="qr"
              class="border border-dark rounded p-1 bg-white"
              src="../static/http___design.niembro64.com.png"
              alt="x"
              width="60"
              height="60"
            />
          </td>
          <td id="goaway300" class="h-150">
            <img
              id="thumb"
              src="../static/gif_design.gif"
              class="border border-dark rounded"
              alt="x"
              height="150"
            />
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center py-2">
              <img
                id="thumb"
                src="../static/html_css_js.png"
                class="rounded"
                alt="x"
                width="50"
              />
            </div>
            <ul>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
            </ul>
          </td>
          <td id="goaway500">
            <ul></ul>
          </td>
          <td id="goaway700">
            Fun with the web standard: HTML, CSS, and vanilla JavaScript.
            Exercises built without any special libraries for a desktop
            experience.
          </td>
        </tr>
        <tr class="align-middle">
          <td>
            <a
              class="btn btn-primary d-grid d-flex align-items-center flex-column"
              href="http://events.niembro64.com/"
            >
              <span
                ><small><i>Desktop</i></small></span
              >
              <img
                id="icon"
                class="border border-dark rounded"
                src="../static/party.png"
                alt="x"
                width="32"
                height="32"
              />

              <span>Events</span>
              <!-- <span
                ><small><i>work in progress</i></small></span
              > -->
            </a>
          </td>
          <td id="goaway700">
            <img
              id="qr"
              class="border border-dark rounded p-1 bg-white"
              src="../static/http___events.niembro64.com.png"
              alt="x"
              width="60"
              height="60"
            />
          </td>
          <td id="goaway300">
            <img
              id="thumb"
              src="../static/gif_events.gif"
              class="border border-dark rounded"
              alt="x"
              height="150"
            />
          </td>

          <td>
            <div class="d-flex align-items-center justify-content-center py-2">
              <img
                id="thumb"
                src="../static/csharp.png"
                class="rounded"
                alt="x"
                width="50"
              />
            </div>
            <ul>
              <li>C#</li>
              <li>ASP.NET</li>
              <li>MySQL</li>
              <li>EF Core</li>
            </ul>
          </td>
          <td id="goaway500">
            <ul>
              <li>
                Accounts
                <ul>
                  <li>Register</li>
                  <li>Log-in</li>
                </ul>
              </li>
              <li>
                Events
                <ul>
                  <li>CRUD</li>
                  <li>View host</li>
                  <li>RSVP</li>
                  <li>View attendees</li>
                </ul>
              </li>
            </ul>
          </td>
          <td id="goaway700">
            Users can both create shows and RSVP shows, using C# aspnet core's
            ORM toolset.
            <ul>
              <!-- <li>
                Users-Events Double Relationship
                <ul>
                  <li>Create is <i>One-to-Many</i></li>
                  <li>RSVP is <i>Many-to-Many</i></li>
                </ul>
              </li> -->
              <li>Standard & Custom Form Validations</li>
              <li>Encrypted Passwords</li>
            </ul>
            <img
              id="thumb"
              src="../static/erd_events.png"
              class="border border-dark rounded"
              height="60"
              alt=""
            />
          </td>
        </tr>

        <tr class="align-middle">
          <td>
            <a
              class="btn btn-primary d-grid d-flex align-items-center flex-column"
              href="http://pirates.niembro64.com/"
            >
              <span
                ><small><i>Mobile</i></small></span
              >
              <img
                id="icon"
                class="border border-dark rounded"
                src="../static/skull_and_crossbones.png"
                alt="x"
                width="32"
                height="32"
              />

              <span>Pirates</span>
            </a>
          </td>
          <td id="goaway700">
            <img
              id="qr"
              class="border border-dark rounded p-1 bg-white"
              src="../static/http___pirates.niembro64.com.png"
              alt="x"
              width="60"
              height="60"
            />
          </td>
          <td id="goaway300" class="h-150">
            <img
              id="thumb"
              src="../static/gif_pirates.gif"
              class="border border-dark rounded"
              alt="x"
              height="150"
            />
          </td>
          <td>
            <div class="d-flex align-items-center justify-content-center py-2">
              <img
                id="thumb"
                src="../static/react.png"
                class="rounded"
                alt="x"
                width="50"
              />
            </div>
            <ul>
              <li>React</li>
              <li>Express</li>
              <li>MongoDB</li>
              <li>NodeJS</li>
            </ul>
          </td>
          <td id="goaway500">
            <ul>
              <li>
                Pirates
                <ul>
                  <li>CRUD</li>
                </ul>
              </li>
            </ul>
          </td>
          <td id="goaway700">
            A front-end user-experience focused project, elegant response
            strategy to screen size. See "About This Project" for more
            information.
            <ul>
              <li>
                Tap instead of Type <small><i>(Mobile-First)</i></small>
              </li>
              <li>User Guidance with Form Completion</li>
              <li>
                Validations | Front-End & Back-End

              </li>
            </ul>
            <img
            id="thumb"
            src="../static/mongo_schema.png"
            class="border border-dark rounded"
            height="60"
            alt=""
          />
          </td>
        </tr>
        <tr class="align-middle">
          <td>
            <a
              class="btn btn-primary d-grid d-flex align-items-center flex-column"
              href="http://shows.niembro64.com/"
            >
              <span
                ><small><i>Mobile</i></small></span
              >
              <img
                id="icon"
                class="border border-dark rounded"
                src="../static/movie.png"
                alt="x"
                width="32"
                height="32"
              />

              <span>Shows</span>
              <!-- <span
                ><small><i>work in progress</i></small></span
              > -->
            </a>
          </td>
          <td id="goaway700">
            <img
              id="qr"
              class="border border-dark rounded p-1 bg-white"
              src="../static/http___shows.niembro64.com.png"
              alt="x"
              width="60"
              height="60"
            />
          </td>
          <td id="goaway300">
            <img
              id="thumb"
              src="../static/gif_shows.gif"
              class="border border-dark rounded"
              alt="x"
              height="150"
            />
          </td>

          <td>
            <div class="d-flex align-items-center justify-content-center py-2">
              <img
                id="thumb"
                src="../static/python.png"
                class="rounded"
                alt="x"
                width="40"
              />
            </div>
            <ul>
              <li>Python</li>
              <li>Flask</li>
              <li>MySQL</li>
              <li>BCrypt</li>
            </ul>
          </td>
          <td id="goaway500">
            <ul>
              <li>
                Accounts
                <ul>
                  <li>Register</li>
                  <li>Log-in</li>
                </ul>
              </li>
              <li>
                Shows
                <ul>
                  <li>CRUD</li>
                  <li>View creator</li>
                  <li>Like</li>
                  <li>View like count</li>
                </ul>
              </li>
            </ul>
          </td>
          <td id="goaway700">
            Users can both create shows and like shows; a study in non-trivial
            database schema planning and implementation.
            <ul>
              <!-- <li>
                Users-Shows Double Relationship
                <ul>
                  <li>Create is <i>One-to-Many</i></li>
                  <li>Like is <i>Many-to-Many</i></li>
                </ul>
              </li> -->
              <li>
                Validations | Back-end & Session
                <!-- <ul>
                  <li>Back-end</li>
                  <li>Session</li>
                </ul> -->
              </li>
              <li>Encrypted Passwords</li>
            </ul>
            <img
              id="thumb"
              src="../static/erd_shows.png"
              class="border border-dark rounded"
              height="60"
              alt=""
            />
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
