* {
    padding: 0px;
    margin: 0px;
    font-family: "Roboto", sans-serif;
    position: relative;
    /* font-family: 'Comic Mono', 'Courier New', Courier, monospace; */
    font-family: "Poppins", cursive;
    font-size: large;
    /* font-family: 'Macondo', cursive; */

    user-select: none; /* supported by Chrome and Opera */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #b6d4ff;
    background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%230d6efd' fill-opacity='0.13' fill-rule='evenodd'/%3E%3C/svg%3E");
}

@media only screen and (max-width: 900px) {
    #goaway700 {
        position: fixed;
        left: -2000px;
    }
}
@media only screen and (max-width: 600px) {
    #goaway500 {
        position: fixed;
        left: -2000px;
    }
}
@media only screen and (max-width: 400px) {
    #goaway300 {
        position: fixed;
        left: -2000px;
    }
}
.thumbHolder {
    max-width: 150px;
    /* fill: black; */
}

#qr {
    image-rendering: pixelated;
}
#thumb {
    image-rendering: crisp-edges;
    /* z-index: -1; */

    /* max-width: 50px;  */
}
#icon {
    image-rendering: crisp-edges;
}

#thumb:active {
    /* position:relative; */
    /* top:-25px; */
    /* left:-55px; */
    width: auto;
    height: 250px;
    /* display:block; */
    z-index: 9;
    /* border: 3px dashed black; */
}

.endblock {
    width: 100px;
    height: 200px;
    /* border: 1px black solid; */
}

#thumb:active {
    /* position:relative; */
    /* top:-25px; */
    /* left:-55px; */
    width: auto;
    height: 300px;
    /* display:block; */
    z-index: 8;
    /* border: 3px dashed black; */
}

tbody > tr {
    border: 2px solid rgb(0, 0, 0);
    /* border-bottom:  3px solid rgb(0, 0, 0);  */
}

#butnz {
    z-index: 998;
    height: auto;
    margin: 50px 0px 20px 0px;
    padding: 0px 8px 10px 8px;
    border: 2px solid black;
    border-radius: 8px;

    background-color: rgb(226, 227, 229);
}

.bbb > img {
    filter: brightness(0);
}

.bbb {
    /* border: 1px solid black; */
    background: rgba(255, 255, 255, 0);
    border-radius: 3px;

    height: 50px;
    width: 90px;
    text-decoration: none;
    font-size: small;
    font-weight: bolder;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 15px 0px 5px 0px;
    margin: 3px 1px 1px 1px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    box-shadow: 0 0 0;
    cursor: pointer;
}

.bbb:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: rgb(13, 110, 253);
    /* visibility: hidden; */
    border-radius: 5px;
    transform: scaleX(0);
    transition: 1.5s ease-out;
    color: rgb(0, 0, 0);
}
.bbb:hover:before,
.bbb:focus:before {
    color: rgb(0, 0, 0);
    visibility: visible;
    transform: scaleX(1);
    /* color: rgb(255, 255, 255); */
    transition: 0.15s ease-in;
}

#resume {
    color: rgb(0, 0, 0);
}

h3 {
    padding: 0px;
}
p {
    padding: 0px;
}
#top {
    /* border: 1px solid black;  */
    padding: 10px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    z-index: 999;
    position: fixed;
    top: -45px;
    width: 230px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: rgb(13, 110, 253);
    color: rgb(255, 255, 255);

    box-shadow: 0 0 10px black, 0 0 50px rgba(13, 110, 253, 0);
    transition: 1s ease, box-shadow 1s ease;
    /* border-bottom: 1px solid black;  */
}
#top:hover {
    top: 0px;
    width: 100%;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    color: rgb(0, 0, 0);
    /* background-color: rgb(0,0,0); */
    background-color: rgb(226, 227, 229);
    box-shadow: 0 0 10px black, 0 0 50px rgb(255, 255, 255);
    transition: 0.1s ease, box-shadow 0.1s ease;
}
#glow > h3 {
    font-weight: bolder;
    text-shadow: 0px 0px 15px white;
}
/* #glow > span{

    text-shadow: 0px 0px 15px white; 
} */
/* #top > img {
    border: rgb(255, 255, 255);
    box-shadow: 0 0 0 black; 
    filter: invert(1);
}
#top > img:hover {
    border: rgba(0, 0, 0, 0);
    filter: invert(0);
} */
ul {
    list-style-type: none;
    font-weight: 700;
}

li > ul > li {
    list-style-type: disc;
    font-weight: 400;
    font-size: small;
}

#goaway700 > ul > li {
    list-style-type: disc;
    font-weight: 400;
    font-size: small;
}
/* #goaway700 > img {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
} */

#tablediv {
    width: 95%;
}

.ttt {
    font-size: large;
}

#endboy {
    width: 240px;
    height: 70px;
    background-color: rgb(226, 227, 229);
    border-radius: 8px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px; 
}

#endboy > p {
    font-size: smaller;
    margin: 0px;
    padding: 0px;
    
    user-select: all; /* supported by Chrome and Opera */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
}

#pagevisits{
    position: fixed;
    bottom: 0px; 
    width: 100%; 
    height: auto;
    background-color: rgb(226, 227, 229);
    border-top: 2px solid black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 

}
#pagevisits > span {
    font-size: small;
    margin: 0px;
    padding: 0px;
    
    user-select: all; /* supported by Chrome and Opera */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
}
#pagevisits > div > span {
    font-size: small;
    margin: 0px;
    padding: 0px;
    
    user-select: all; /* supported by Chrome and Opera */
    -webkit-user-select: all; /* Safari */
    -khtml-user-select: all; /* Konqueror HTML */
    -moz-user-select: all; /* Firefox */
    -ms-user-select: all; /* Internet Explorer/Edge */
}
h4 {
    padding: 0px;
    margin: 0px;
}


/* #mobile {
    cursor: pointer;
} */

/* #mobileqrholder {
    z-index: 999;
    position: fixed;
    top: -4px;
    right: -4px;

    width: 0px;
    height: 0px;
    border-bottom-left-radius: 10px;
    border: 2px solid black;

    background-color: rgb(255, 255, 255);
    transition: 1s ease;
} */
#mobileqr {
    z-index: 990;
    position: absolute;
    background-color: white; 
    border-radius: 6px; 
    top: 60px;

    width: 100px;
    height: 0px; 

    border: 2px solid black;
    padding: 0px 0px 7px 0px;
    margin: 0px;

    transition: .25s ease;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:end;
}

#qrqr{
    height: 0px;
    width: 80px; 
    transition: .25s ease;
}
