@media only screen and (max-width: 700px) {
  #goaway700 {
    position: fixed;
    left: -1000px;
  }
}
@media only screen and (max-width: 500px) {
  #goaway500 {
    position: fixed;
    left: -1000px;
  }
}
@media only screen and (max-width: 300px) {
  #goaway300 {
    position: fixed;
    left: -1000px;
  }
}
.thumbHolder {
  max-width: 150px;
  /* fill: black; */
}

#qr {
  image-rendering: pixelated;
}
#thumb {
  image-rendering: crisp-edges;
  /* z-index: -1; */

  /* max-width: 50px;  */
}
#icon {
  image-rendering: crisp-edges;
}

#thumb:active {
  /* position:relative; */
  /* top:-25px; */
  /* left:-55px; */
  width: auto;
  height: 300px;
  /* display:block; */
  z-index: 999;
  /* border: 3px dashed black; */
}
